<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/redirect.css">
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
    </style>
</head>
<body>
    <div id="content" class="container text-center p-4">
        <h3>Bạn sẽ sớm được chuyển đến đích.</h3>
        <p>Tạo link rút gọn của bạn ở <a href="https://veart.co">veart.co</a></p>
    </div>
    <script>
        window.onload = () => {
            setTimeout(function(){window.location.replace('{{ link }}')}, 3000)
        }
    </script>
    <script type="text/javascript">
        atOptions = {
            'key' : 'c70ba702c8c05562afa24aac94a4134f',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/c70ba702c8c05562afa24aac94a4134f/invoke.js"></scr' + 'ipt>');
    </script>
    <script type="text/javascript">
        atOptions = {
            'key' : 'fd81850e44b304485a63dd1bc444a52a',
            'format' : 'iframe',
            'height' : 600,
            'width' : 160,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/fd81850e44b304485a63dd1bc444a52a/invoke.js"></scr' + 'ipt>');
    </script>
    <script type="text/javascript">
        atOptions = {
            'key' : 'b76d2cef6502b279a72f58b3893e9177',
            'format' : 'iframe',
            'height' : 300,
            'width' : 160,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/b76d2cef6502b279a72f58b3893e9177/invoke.js"></scr' + 'ipt>');
    </script>
    <script type="text/javascript">
        atOptions = {
            'key' : '5458408d001657eb9fee379b9f3fbb0e',
            'format' : 'iframe',
            'height' : 60,
            'width' : 468,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/5458408d001657eb9fee379b9f3fbb0e/invoke.js"></scr' + 'ipt>');
    </script>
    <script type="text/javascript">
        atOptions = {
            'key' : '5458408d001657eb9fee379b9f3fbb0e',
            'format' : 'iframe',
            'height' : 60,
            'width' : 468,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/5458408d001657eb9fee379b9f3fbb0e/invoke.js"></scr' + 'ipt>');
    </script>
    <script type="text/javascript">
        atOptions = {
            'key' : '76274f873874de0b3a50b770c872af5d',
            'format' : 'iframe',
            'height' : 50,
            'width' : 320,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/76274f873874de0b3a50b770c872af5d/invoke.js"></scr' + 'ipt>');
    </script>
</body>
</html>